{#
 # Parameters:
 #  - list_id
 #  - placeholder (optional)
 #}
<div class="live-filter-zone">
    <label>
        <i class="fas fa-filter"></i>
        <input type="text"
            data-list-filter
            data-list-filter--list="{{ list_id }}"
            placeholder='{{ placeholder|default('Filter elements')|e('html_attr') }}'
        />
    </label>
</div>
