{#
 # Parameters:
 #  - table_id
 #  - placeholder (optional)
 #  - allow_search_key_shortcut: bool (optional)
 #}

{% set allow_search_key_shortcut = allow_search_key_shortcut|default(false) %}

<div class="table-filter-zone">
    <label>
        <i class="fas fa-filter"></i>
        <input type="text"
            data-table-filter
            data-table-filter--table="{{ table_id }}"
            placeholder='{{ placeholder|default('Filter rows')|e('html_attr') }}'
            class="{{ class({ 'search-key-shortcut': allow_search_key_shortcut }) }}"
        />
    </label>
</div>
