table[data-highlight-table-rows] {
    & > tbody > tr {
        --bg-alpha: 0%;

        background-color: rgba(255, 255, 255, var(--bg-alpha));

        &.highlight-row {
            --bg-alpha: 3%;
        }
    }
}
