{% set table_input_title %}
Enter a table name (or alias).
If empty, use the current table (if available).
{% endset %}

{% set row_input_title %}
Find a specific row (by id or any configured quick-find option for the choosen table).
If empty then go the the chosen table list.
{% endset %}

{% if project is not null %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <form method="post" action="{{ path('internal_post_quick_find_form') }}" class="quick-find-zone">
        <label class="quick-find-zone__label">
            <i class="fas fa-search"></i>
        </label>
        <input type="hidden" name="project" value="{{ project.name }}" />
        {% if table is not null %}
            <input type="hidden" name="current_table" value="{{ table.name }}" />
        {% endif %}
        <div
            class="quick-find-zone__rich-table-input"
            title="{{ table_input_title }}"
        ></div>
        <input
            type="text"
            name="table_alias"
            class="quick-find-zone__basic-table-input key-shortcut__table-search"
            placeholder="Table{{ table is not null ? " (#{table.name})" : '' }}"
        />
        <input
            type="text"
            name="search"
            class="key-shortcut__row-search"
            placeholder="Row"
            title="{{ row_input_title }}"
        />
        <button type="submit" style="display: none">Go</button>
    </form>
{% endif %}
