{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Error
{% endblock %}

{% block main %}
    <div class="alert alert--error">
        {{ error_message }}
    </div>
{% endblock %}
