{% extends 'base.html.twig' %}

{% from 'include/table_row_macros.html.twig' import copy_column_button %}

{% set table_id = unique_id('projects_list') %}

{% set table_content %}
    <table {{ attr('id', table_id) }}
            class="table--row table--row-list data-table-filter--table"
            data-highlight-table-rows
    >
        <thead class="sticky">
        <tr>
            <th>
                <div class="table--row__full-cell">
                    {{ copy_column_button() }}
                    Project name
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for project_name in project_names %}
            <tr class="full-row-link">
                <td class="table--row__td--key cell-link">
                    <a href="{{ path('project_home', {project: project_name}) }}">
                        <div class="table--row__full-cell data-action--copy-column--value">
                            {{ project_name }}
                        </div>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}

{% block main %}
    <h1>Db info</h1>
    <h2>Projects</h2>

    <div class="flex-col-spaced">
        {% include 'include/js/components/live_filters/table_filter.html.twig' with {
            table_id,
            placeholder: 'Filter projects',
            allow_search_key_shortcut: true,
        } %}
        {{ table_content|raw }}
    </div>
{% endblock %}
