{% extends 'base.html.twig' %}

{% from 'macros.html.twig' import icon_command, table_name_with_link %}

{% set include_search_expr_help_modal = true %}
{% set plural_table_name = table.bestAlias|pluralize|to_words %}
{% set fetch_html_id = 'page-list' %}

{% block title %}
    {{ plural_table_name|capitalize }}
{% endblock %}

{% block first_row_link %}
    <a href="#" class="link--icon"
       data-fetch-html--first-row-url="{{ fetch_html_id }}"
       title="View the first row of this table, by considering the current sorts and filter"
    >
        {{ source('icons/first-result.svg') }}
    </a>
{% endblock %}

{% block main %}
    <h1>
        <i class="fa-solid fa-table-list"></i>
        List of <strong>{{ plural_table_name }}</strong>
        {% if is_filtered %}(filtered){% endif %}
    </h1>

    <h4>
        Table name:
        {{ table_name_with_link(table.project, table.name, null, block('first_row_link')) }}
    </h4>

    {% embed 'embed/list_navigator.html.twig' with {
        fetch_html_id: fetch_html_id,
        table,
        route_params_merge_before: app.request.query.all(),
        route_params_merge_after: {
            page: pagination ? pagination.toString() : "1-#{table.defaultPaginationSize}",
            search: search_expression,
        },
        reflect_in_url: true,
        allow_search_key_shortcut: true,
        allow_refresh_data_key_shortcut: true,
    } %}
    {% endembed %}
{% endblock %}
