{% extends 'base.html.twig' %}

{% set title %}
    Project {{ project.name }}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <h1>{{ title }}</h1>
    <h2>Tables</h2>
    {% include 'include/tables_list.html.twig' with {table_infos} %}
{% endblock %}
