{% extends 'base.html.twig' %}

{% from 'macros.html.twig' import table_name_with_link %}

{% set include_search_expr_help_modal = true %}
{% set is_first_row_page = is_first_row_page|default(false) %}

{% if is_first_row_page %}
    {% set document_title %}
        First {{ table.bestAlias|to_words }}
    {% endset %}
    {% set title %}
        First <strong>{{ table.bestAlias|to_words|e('html') }}</strong>
    {% endset %}
{% else %}
    {% set document_title %}
        {{ table.bestAlias|to_words|capitalize }}
    {% endset %}
    {% set title %}
        <strong>{{ table.bestAlias|to_words|capitalize|e('html') }}</strong>
    {% endset %}
{% endif %}

{% set summary_html = null %}
{% if row is not null %}
    {% set summary_html = row_summary_tiny_html(row) %}
    {% set summary_html = summary_html is null ? row.primaryKeyIndex()|e('html') : summary_html|raw %}
{% endif %}

{% block title %}
    {{ document_title }}
    -
    {% if summary_html is not null %}
        {{ summary_html|striptags }}
    {% else %}
        Not found
    {% endif %}
{% endblock %}

{% block main %}
    <h1>
        {% if is_first_row_page %}
            <span style="width: 1em; display: inline-block; position: absolute">
                {{ source('icons/first-result.svg') }}
            </span>
            <span style="width: 1em; display: inline-block"></span>
        {% else %}
            <i class="fa-solid fa-bullseye"></i>
        {% endif %}
        {{ title|raw }}
        {% if summary_html is not null %}
            - {{ summary_html|raw }}
        {% endif %}
    </h1>

    <h4>Table name: {{ table_name_with_link(project, table.name) }}</h4>

    {% if row is not null %}
        {% include 'include/row_view.html.twig' with {
            include_related_tables: true,
        } %}
    {% else %}
        <div class="alert alert--error">
            Not found
        </div>
    {% endif %}
{% endblock %}
