{% extends 'base.html.twig' %}

{% from 'macros.html.twig' import table_name_with_link %}

{% block title %}
    Structure of {{ table.name }}
{% endblock %}

{% block main %}
    <h1>
        <i class="fa-solid fa-project-diagram"></i>
        Structure of <strong>{{ table.name }}</strong>
    </h1>

    <h4>
        Table name:
        {{ table_name_with_link(table.project, table.name) }}
    </h4>

    <nav class="nav--table-structure sticky">
        <a href="#columns">
            <i class="fa-solid fa-columns margin-right-2"></i>
            Columns
        </a>
        <a href="#foreign-keys">
            <i class="fa-solid fa-arrow-right margin-right-2"></i>
            Foreign keys
        </a>
        <a href="#indexes">
            <i class="fa-solid fa-list margin-right-2"></i>
            Indexes
        </a>
        <a href="#related-tables">
            <i class="fa-solid fa-link margin-right-2"></i>
            Related tables
        </a>
    </nav>

    {% include 'include/table_structure.html.twig' %}
{% endblock %}
