{#
 # Detailed view for a row.
 #
 # Include properties:
 #  - row: Row
 #  - include_related_tables: bool
 #  - is_list_view_transposed: bool ()
 #}

{% from 'macros.html.twig' import icon_command, table_name_with_link %}
{% from 'include/table_row_macros.html.twig' import cell_value, copy_column_button, sort_button %}

{% set include_related_tables = include_related_tables|default(false) %}
{% set is_list_view_transposed = is_list_view_transposed|default(false) %}

<table class="table--row" data-highlight-table-rows>
    <thead class="sticky">
        {% if is_list_view_transposed %}
            <tr class="table__head-sticky-title">
                <th colspan="3">
                    {% set table_title = table.bestAlias|to_words|capitalize %}
                    {% set summary_html = row_summary_tiny_html(row) %}
                    {% set summary_html = summary_html is null ? row.primaryKeyIndex()|e('html') : summary_html|raw %}
                    {{ table_title }} - {{ summary_html|striptags }}
                </th>
            </tr>
        {% endif %}
        <tr>
            <th>
                <div class="table--row__full-cell">
                    {{ copy_column_button() }}
                    name
                </div>
            </th>
            <th>
                {{ copy_column_button(2, 'copy-column--skip-align') }}
            </th>
            <th>
                <div class="table--row__full-cell">
                    value
                </div>
            </th>
        </tr>
    </thead>
    <tbody>

    {% if is_list_view_transposed and not table.isSinglePrimaryKey() %}
        {% set cell_auto_id = new_auto_id() %}
        {% set copy_value_id = auto_id(cell_auto_id) %}
        {% set copy_value_transition_id = auto_id(cell_auto_id, 'tr') %}
        {% set index = row.primaryKeyIndex() %}
        <tr>
            <td class="table--row__td--key">
                <div class="table--row__full-cell data-action--copy-column--value">
                    <strong>Primary key</strong>
                </div>
            </td>
            <td class="table--row__td--commands">
                <div data-action--copy-value="#{{ copy_value_id }}"
                     data-action--copy-value__effect="#{{ copy_value_transition_id }}"
                     title="Copy data"
                >
                    {{ icon_command('fa-regular fa-copy') }}
                </div>
            </td>
            <td id="{{ copy_value_transition_id }}" class="table--row__td--value {{ index.isEmpty ? '' : 'cell-link' }}">
                {% if index.isEmpty %}
                    &nbsp;<i class="fas fa-exclamation-triangle"></i>&nbsp;
                {% else %}
                    <a href="{{ row.url|e('html_attr') }}">
                        <div class="table--row__full-cell data-action--copy-column--value">
                            <span id="{{ copy_value_id }}">{{ index }}</span>
                        </div>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endif %}

    {% if is_list_view_transposed %}
        {% set row_cells = list_cells(row) %}
    {% else %}
        {% set row_cells = cells(row) | values %}
    {% endif %}

    {% for i, cell in row_cells %}
        {% set cell_auto_id = new_auto_id() %}
        {% set copy_value_id = auto_id(cell_auto_id) %}
        {% set copy_value_transition_id = auto_id(cell_auto_id, 'tr') %}
        <tr class="{{ class({'table--row__tr--hidden': not cell.visible}) }}">
            <td class="table--row__td--key">
                <div class="table--row__full-cell data-action--copy-column--value">
                    {% if is_list_view_transposed %}
                        {{ sort_button(list_columns[i]) }}
                    {% endif %}
                    <strong class="{{ class({
                        'rows-list--transposed__no-sort-button': is_list_view_transposed and not list_columns[i].isSortable,
                    }) }}">{{ cell.titleOrColumnName }}</strong>
                </div>
            </td>
            <td class="table--row__td--commands">
                <div data-action--copy-value="#{{ copy_value_id }}"
                     data-action--copy-value__effect="#{{ copy_value_transition_id }}"
                     title="Copy data"
                >
                    {{ icon_command('fa-regular fa-copy') }}
                </div>
            </td>
            <td id="{{ copy_value_transition_id }}" class="table--row__td--value {{ cell.url ? 'cell-link': '' }}">
                {% set cell_content %}
                    <div class="table--row__full-cell">
                        {{ cell_value(row, cell, 'short', copy_value_id) }}
                    </div>
                {% endset %}
                {% if cell.url %}
                    <a href="{{ cell.url }}">{{ cell_content }}</a>
                {% else %}
                    {{ cell_content }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if include_related_tables %}
    <h2>Related tables</h2>
    {% set related_tables_id = unique_id('related_tables_container') %}

    <div class="flex-col-spaced">
        {% include 'include/js/components/live_filters/list_filter.html.twig' with {
            list_id: related_tables_id,
            placeholder: 'Filter tables'
        } %}

        <div id="{{ related_tables_id }}" class="related-tables">
        {% for related_table_name, joins in table.relatedTables %}
            {% for join in joins %}
                {% include 'include/row_related_table.html.twig' with {
                    table,
                    row,
                    related_table_name,
                } %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endif %}
