{#
 # Parameters:
 #  - table
 #  - row
 #  - related_table_name
 #}

{% set fetch_html_id = new_auto_id() %}

<div class="related-table"
     data-fetch-html--show-if-some-data="{{ fetch_html_id }}"
     data-list-filter--text="{{ related_table_name }}"
>
    {% embed 'embed/foldable_zone.html.twig' with {class: {'related-table__inner': true}} %}
        {% block header %}
            {% from 'macros.html.twig' import icon_command, table_name_with_link %}
            <h4>
                {{ table_name_with_link(
                    table.project,
                    related_table_name,
                ) }}
                <span class="smaller">(through "{{ join.localColumnName }}")</span>
            </h4>
        {% endblock %}
        {% block main %}
            {% set field_param_key = "field[#{join.localColumnName}]" %}
            {% set field_value = row.primaryKeyIndex().urlEncode() %}
            {% embed 'embed/list_navigator.html.twig' with {
                fetch_html_id,
                table: table.project.tableInfo(related_table_name),
                route_params_merge_after: {
                    (field_param_key): field_value,
                },
            } %}
                {% block command_list_append %}
                    <a href="{{ table_path(
                        table.project.name,
                        table.projectConfig.tableBestAlias(related_table_name),
                        {
                            (field_param_key): field_value,
                        }
                    ) }}">
                        Full list
                    </a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
</div>
