{% from 'include/table_row_macros.html.twig' import cell_value, copy_column_button, sort_button %}

{% set is_transposed = is_transposed|default(false) %}

<div class="rows-list--transposed">
{% for row in rows %}
    {% include 'include/row_view.html.twig' with {
        row: row,
        is_list_view_transposed: true,
    } %}
{% endfor %}
</div>
