{% from 'include/table_row_macros.html.twig' import cell_value, copy_column_button, sort_button %}

{% set is_single_primary_key = table.isSinglePrimaryKey() %}

{% if rows is not empty %}
    <table class="table--row table--row-list" data-highlight-table-rows>
        <thead class="sticky">
            <tr>
                {% if not is_single_primary_key %}
                    <th>
                        <div class="table--row__full-cell">
                            {{ copy_column_button() }}
                            <span class="italic">Primary key</span>
                        </div>
                    </th>
                {% endif %}
                {% for list_column in list_columns %}
                    <th>
                        <div class="table--row__full-cell no-wrap">
                            {{ copy_column_button() }}
                            {{ list_column.title }}
                            {{ sort_button(list_column) }}
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            {% set index = row.primaryKeyIndex() %}
            <tr>
                {% if not is_single_primary_key %}
                    <td class="table--row__td--key  {{ index.isEmpty ? '' : 'cell-link' }}">
                        {% if index.isEmpty %}
                            &nbsp;<i class="fas fa-exclamation-triangle"></i>&nbsp;
                        {% else %}
                            <a href="{{ row.url|e('html_attr') }}">
                                <div class="table--row__full-cell data-action--copy-column--value">
                                    {{ index }}
                                </div>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
                {% for list_cell in list_cells(row) %}
                    <td class="table--row__td--value {{ list_cell.url is empty ? '' : 'cell-link' }}">
                        {% set td_content %}
                            <div class="table--row__full-cell">
                                {{ cell_value(row, list_cell, 'tiny') }}
                            </div>
                        {% endset %}
                        {% if list_cell.url is empty %}
                            {{ td_content|raw }}
                        {% else %}
                            <a href="{{ list_cell.url|e('html_attr') }}">
                                {{ td_content|raw }}
                            </a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
