{% from 'macros.html.twig' import table_structure_icon_link %}
{% from 'include/table_row_macros.html.twig' import copy_column_button %}

{% set table_id = table_id|default(unique_id('tables_list')) %}

{% set table_content %}
<table {{ attr('id', table_id) }}
    class="table--row table--row-list data-table-filter--table"
    data-highlight-table-rows
>
    <thead class="sticky">
    <tr>
        <th>
            <div class="table--row__full-cell">
                {{ copy_column_button() }}
                Table name
            </div>
        </th>
        <th>
            <div class="table--row__full-cell">
                Structure
            </div>
        </th>
        <th>
            <div class="table--row__full-cell">
                {{ copy_column_button() }}
                Aliases
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for table_info in table_infos %}
        <tr class="full-row-link">
            <td class="table--row__td--key cell-link">
                <a href="{{ table_path(table_info.project, table_info.name) }}">
                    <div class="table--row__full-cell data-action--copy-column--value">
                        {{ table_info.name }}
                    </div>
                </a>
            </td>
            <td class="table--row__td--key cell-link">
                <a href="{{ table_structure_path(table_info.project, table_info.name) }}" class="center">
                    <div class="table--row__full-cell data-action--copy-column--value">
                        <i class="fa-solid fa-project-diagram"></i>
                    </div>
                </a>
            </td>
            <td class="table--row__td--key">
                <div class="table--row__full-cell data-action--copy-column--value">
                    {{ table_info.aliases|join(', ') }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endset %}

<div class="flex-col-spaced">
    {% include 'include/js/components/live_filters/table_filter.html.twig' with {
        table_id,
        placeholder: 'Filter tables',
        allow_search_key_shortcut: true,
    } %}
    <div>
        {{ table_content|raw }}
    </div>
</div>
