{% macro cell_value(row, cell, summary_style = 'short', copy_value_id = null) %}
    {% set id_attr = copy_value_id ? "id=\"#{copy_value_id}\"" : '' %}
    <span {{ id_attr|raw }} class="table--row__value data-action--copy-column--value">{{
        cell.htmlValue|raw
    }}</span>
    {% if cell.rawValue is not null and cell.joinColumn %}
        {% set summaryHtml = row_joined_column_summary_html(row, cell.columnName, summary_style, false) %}
        {% if summaryHtml is not empty %}
            &nbsp;
            <span class="table--row__joined-value-summary">
                {{ summaryHtml|raw }}
            </span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro copy_column_button(col_number = '', extra_class = '') %}
    <span data-action--copy-column="{{ col_number }}" title="Copy column" class="{{ extra_class }}">
        <span class="command command--icon">
            <i class="fa-regular fa-copy"></i>
        </span>
    </span>
{% endmacro %}

{% macro sort_button(list_column) %}
    {% if list_column.isSortable %}
        {% set sort = list_column.sort %}
        {% if sort %}
            {% if sort.direction.value == 'asc' %}
                {% set sort_class = 'table--row__sort--up' %}
            {% else %}
                {% set sort_class = 'table--row__sort--down' %}
            {% endif %}
        {% else %}
            {% set sort_class = 'table--row__sort--none' %}
        {% endif %}
        <button
            class="table--row__sort {{ sort_class }}"
            data-fetch-html--refetch-on-click="{{ url_with_sort_toggled_single(list_column, 1) }}"
            data-fetch-html--refetch-on-shift-click="{{ url_with_sort_toggled_single(list_column, -1) }}"
            data-fetch-html--refetch-on-control-click="{{ url_with_sort_toggled_multiple(list_column, 1) }}"
            data-fetch-html--refetch-on-control-shift-click="{{ url_with_sort_toggled_multiple(list_column, -1) }}"
            title="{{ "Ctrl-click: add multiple sorts,\nShift-click: reverse toggle direction"|raw|e('html_attr') }}"
        >
            {% if sort and list_column.showSortPosition %}
                <span class="table--row__sort__position">{{ sort.position }}</span>
            {% endif %}
        </button>
    {% endif %}
{% endmacro %}
