{% set columns_table_id = unique_id('columns_table_structure') %}
{% set foreign_keys_table_id = unique_id('fk_table_structure') %}
{% set indexes_table_id = unique_id('indexes_table_structure') %}
{% set related_tables_table_id = unique_id('related_tables_table_structure') %}

{% set columns_table_content %}
    <table {{ attr('id', columns_table_id) }}
        class="table--row table--row-list data-table-filter--table table--structure"
        data-highlight-table-rows
    >
        <thead class="sticky table-structure--sticky-header">
        <tr>
            <th>
                <div class="table--row__full-cell">
                    Name
                </div>
            </th>
            <th>
                <div class="table--row__full-cell">
                    Attributes
                </div>
            </th>
            <th>
                <div class="table--row__full-cell">
                    Nullable
                </div>
            </th>
            <th>
                <div class="table--row__full-cell">
                    Type
                </div>
            </th>
            <th>
                <div class="table--row__full-cell">
                    Foreign key
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for column in table_structure.columns %}
            <tr>
                <td class="table--row__td--key">
                    <div class="table--row__full-cell data-action--copy-column--value">
                        {{ column.name }}
                    </div>
                </td>
                <td class="table--row__td--value data-table-filter--skip">
                    <div class="table--row__full-cell center flex-row-spaced">
                        {% if column.isPrimary %}
                            <i class="fa-solid fa-key" title="Primary"></i>
                        {% endif %}
                        {% if column.isAutoIncrement %}
                            <i class="fa-solid fa-plus" title="Auto increment"></i>
                        {% endif %}
                    </div>
                </td>
                <td class="table--row__td--value data-table-filter--skip">
                    <div class="table--row__full-cell center" title="{{
                    column.isNullable ? 'Nullable' : 'Not nullable'
                    }}">
                        {% if column.isNullable %}
                            <div class="table-icon">
                                {{ source('icons/nullable.svg') }}
                            </div>
                        {% endif %}
                    </div>
                </td>
                <td class="table--row__td--value data-table-filter--skip">
                    <div class="table--row__full-cell">
                        {{ column.fullType }}
                    </div>
                </td>
                <td class="table--row__td--value">
                    {% if column.singleForeignKey %}
                        <div class="table--row__full-cell">
                            {% set fk = column.singleForeignKey %}
                            <a href="{{ fk.link }}">{{ fk.tableName }}</a>.{{ fk.columnName }}
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %} {# columns_table_content #}

{% set foreign_keys_table_content %}
    <table {{ attr('id', foreign_keys_table_id) }}
        class="table--row table--row-list data-table-filter--table"
        data-highlight-table-rows
    >
        <thead class="sticky table-structure--sticky-header">
        <tr>
            <th>
                <div class="table--row__full-cell">
                    Name
                </div>
            </th>
            <th>
                <div class="table--row__full-cell">
                    Bindings
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for foreign_key in table_structure.foreignKeys %}
            <tr>
                <td class="table--row__td--key">
                    <div class="table--row__full-cell data-action--copy-column--value">
                        {{ foreign_key.name }}
                    </div>
                </td>
                <td class="table--row__td--key">
                    <div class="table--row__full-cell data-action--copy-column--value">
                        {% for binding in foreign_key.columnBindings %}
                            {{ loop.first ? null : ", " }}
                            <span>
                                {{ binding.localColumnName }}
                                <i class="fa-solid fa-arrow-right"></i>
                                <a href="{{ foreign_key.foreignTableLink }}">{{ foreign_key.foreignTableName }}</a>{#
                                #}.{{ binding.foreignColumnName }}
                            </span>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %} {# foreign_keys_table_content #}

{% set indexes_table_content %}
    <table {{ attr('id', indexes_table_id) }}
        class="table--row table--row-list data-table-filter--table"
        data-highlight-table-rows
    >
        <thead class="sticky table-structure--sticky-header">
        <tr>
            <th>
                <div class="table--row__full-cell">
                    Name
                </div>
            </th>
            <th>
                <div class="table--row__full-cell">
                    Attributes
                </div>
            </th>
            <th>
                <div class="table--row__full-cell">
                    Columns
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for index in table_structure.indexes %}
            <tr>
                <td class="table--row__td--key">
                    <div class="table--row__full-cell data-action--copy-column--value">
                        {{ index.name }}
                    </div>
                </td>
                <td class="table--row__td--value data-table-filter--skip">
                    <div class="table--row__full-cell center flex-row-spaced">
                        {% if index.isPrimary %}
                            <i class="fa-solid fa-key" title="Primary"></i>
                        {% endif %}
                        {% if index.isUnique %}
                            <span class="table-icon" title="Unique">
                                {{ source('icons/unique.svg') }}
                            </span>
                        {% endif %}
                    </div>
                </td>
                <td class="table--row__td--key">
                    <div class="table--row__full-cell data-action--copy-column--value">
                        {{ index.columnNames|join(', ') }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %} {# indexes_table_content #}

{% set related_tables_table_content %}
    <table {{ attr('id', related_tables_table_id) }}
            class="table--row table--row-list data-table-filter--table"
            data-highlight-table-rows
    >
        <thead class="sticky table-structure--sticky-header">
        <tr>
            <th>
                <div class="table--row__full-cell">
                    Related table + column
                </div>
            </th>
            <th>
                <div class="table--row__full-cell">
                    Local column
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for foreign_table_name, foreign_bindings in table.relatedTables %}
            {% for binding in foreign_bindings %}
                <tr>
                    <td class="table--row__td--key">
                        <div class="table--row__full-cell data-action--copy-column--value">
                            <span>
                                <a href="{{ table_structure_path(project, foreign_table_name) }}">{{ foreign_table_name }}</a>{#
                                #}.{{ binding.localColumnName }}
                            </span>
                        </div>
                    </td>
                    <td class="table--row__td--key">
                        <div class="table--row__full-cell data-action--copy-column--value">
                            {{ binding.foreignColumnName }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endset %} {# related_table_content #}

<div class="flex-col-spaced">
    <div id="columns" class="table-structure__anchor"></div>
    <h2>
        <i class="fa-solid fa-columns"></i>
        Columns
    </h2>

    {% include 'include/js/components/live_filters/table_filter.html.twig' with {
        table_id: columns_table_id,
        placeholder: 'Filter columns',
        allow_search_key_shortcut: true,
    } %}
    <div>{{ columns_table_content|raw }}</div>

    <div id="foreign-keys" class="table-structure__anchor"></div>
    <h2>
        <i class="fa-solid fa-arrow-right"></i>
        Foreign keys
    </h2>

    {% include 'include/js/components/live_filters/table_filter.html.twig' with {
        table_id: foreign_keys_table_id,
        placeholder: 'Filter foreign keys',
    } %}
    <div>{{ foreign_keys_table_content|raw }}</div>

    <div id="indexes" class="table-structure__anchor"></div>
    <h2>
        <i class="fa-solid fa-list"></i>
        Indexes
    </h2>

    {% include 'include/js/components/live_filters/table_filter.html.twig' with {
        table_id: indexes_table_id,
        placeholder: 'Filter indexes',
    } %}
    <div>{{ indexes_table_content|raw }}</div>

    <div id="related-tables" class="table-structure__anchor"></div>
    <h2>
        <i class="fa-solid fa-link"></i>
        Related tables
    </h2>

    {% include 'include/js/components/live_filters/table_filter.html.twig' with {
        table_id: related_tables_table_id,
        placeholder: 'Filter tables',
    } %}
    <div>{{ related_tables_table_content|raw }}</div>
</div>
