$command-bg-color-passive: rgba(255, 255, 255, 0.1);
$command-bg-color-hover: rgba(255, 255, 255, 0.2);
$command-bg-color-active: rgba(255, 255, 255, 0.3);

button.wrapper-button {
    padding: 0;
    font-size: inherit;
    border: none;
    color: inherit;
    background-color: transparent;

    &[disabled] {
        &, * {
            color: #888;
            cursor: not-allowed;

            &:hover {
                background-color: inherit;
            }
        }
    }
}

.command-list {
    display: flex;
    align-items: center;
}

button.command {
    padding: 0.4em 0.6em;

    font-size: 0.9em;

    color: var(--main-color);
    background: $command-bg-color-passive;
    border: none;
    border-radius: 5px;

    &:not(:disabled) {
        &:hover {
            background-color: $command-bg-color-hover;
        }

        &:active {
            background-color: $command-bg-color-active;
        }
    }

    &:disabled {
        cursor: not-allowed;
        &, * {
            color: $command-bg-color-hover;
        }
    }

    &.command--minor {
        background: none;

        &:hover {
            background-color: $command-bg-color-passive;
        }
    }
}

.command {
    cursor: pointer;
}

.command--icon, a.link--icon {
    --size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--size);
    height: var(--size);

    border-radius: 5px;

    &:hover {
        background-color: $command-bg-color-hover;
        text-decoration: none;
    }
}

.command--scale {
    & > * {
        opacity: 0.3;
        transition-property: transform, opacity;
        transition-duration: 0.2s;
        transform: scale(80%);
    }

    &:hover {
        & > * {
            transform: scale(100%);
            opacity: 1;
        }
    }
}


.command--icon {
    color: inherit;
}

.command, .command--icon {
    .loading-wheel {
        display: none;
    }

    &.loading {
        i {
            display: none;
        }
        .loading-wheel {
            --wheel-size: 0.8em;
            --wheel-border-factor: 1.6;

            display: block;

            &::after {
                margin: 0;
            }
        }
    }
}

a.link--icon {
    --size: 1em;
    transform: scale(140%) translateY(0.05em);

    &:hover {
        text-decoration: none;

        i, svg {
            opacity: 1;
        }
    }

    i, svg {
        font-size: 0.6em;
        opacity: 0.7;
    }

    svg {
        width: calc(var(--size) * 1.2);
    }
}
