.loading-wheel {
    --wheel-border-factor: 1;

    display: inline-block;
    width: var(--wheel-size);
    height: var(--wheel-size);
}

.loading-wheel:after {
    content: " ";
    display: block;
    width: var(--wheel-size);
    height: var(--wheel-size);
    margin: 8px;
    border-radius: 50%;
    border: calc(var(--wheel-size) / 7 * var(--wheel-border-factor)) solid;
    border-color: #fff transparent #fff transparent;
    animation: loading-wheel 1.2s linear infinite;
    box-sizing: border-box;
}

@keyframes loading-wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
