.smaller {
    font-size: smaller;
}

.no-wrap {
    white-space: nowrap;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-right-2 {
    margin-right: 0.5em;
}

.italic {
    font-style: italic;
}

// A list of vertical elements separated by a gap
.flex-col-spaced {
    --gap: 0.5em;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

// A list of horizontal elements with no separation
.flex-row {
    display: flex;
    flex-direction: row;
}
span.flex-row {
    display: inline-flex;
}

// A list of horizontal elements separated by a gap
.flex-row-spaced {
    --gap: 0.5em;

    display: flex;
    flex-direction: row;
    gap: var(--gap);
}
span.flex-row-spaced {
    display: inline-flex;
}

.icon--smaller {
    i {
        font-size: smaller;
    }
}

.color-success {
    color: var(--green);
}

.color-error {
    color: var(--red);
}

.color-help {
    color: var(--light-blue);
}
