nav {
    display: flex;

    & > * {
        display: flex;
        align-items: center;
    }

    //& > .nav-left {
    //}

    & > .nav-center {
        flex-grow: 1;
    }

    & > .nav-right {
        gap: var(--space-4);
    }
}
