.overlay-container {
    --transition-time: 0.2s;

    position: relative;
    min-height: 0;
    width: fit-content;

    & > .overlay {
        --wheel-size: 2em;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;

        opacity: 0;
        pointer-events: none;

        transition: opacity var(--transition-time);

        background-color: rgb(0 0 0 / 50%);

        & > .loading-wheel {
            padding-top: 5em;
        }
    }

    &.overlay-container--loading {
        min-height: 6em;

        & > .overlay {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
