.zone {
    --color: #ddd;

    display: flex;

    padding: 0.9em;
    --mv: 1em;
    margin-top: var(--mv);
    margin-bottom: var(--mv);

    border: 1px solid;
    border-radius: 5px;

    color: var(--color);
    border-color: var(--color);
    background-color: color-mix(in srgb, var(--color), transparent 90%);

    & > .zone__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.3em;

        padding-right: 0.5em;
    }

    & > .zone__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &.zone--light-warning {
        --color: var(--light-orange);
    }

    &.zone--warning {
        --color: var(--orange);
    }

    &.zone--error {
        --color: var(--red);
    }
}
