{% embed 'embed/modal.html.twig' with {
    id: 'error-modal',
} %}
    {% block title %}
        Error
    {% endblock %}
    {% block content %}
        <div class="error-modal__header-message"></div>
        <pre class="error-modal__error-message"></pre>
        <div class="center">
            <button class="command modal-command--close">Close</button>
        </div>
    {% endblock %}
{% endembed %}
