{% embed 'embed/modal.html.twig' with {
    id: 'search-expr-help-modal',
} %}
    {% block title %}
        Search expression help
    {% endblock %}
    {% block content %}
        <div class="markdown-content">
            {{ render_markdown_file('markdown/search_expression_help.md') }}
        </div>
    {% endblock %}
{% endembed %}
