{# Parameters:
 #  - id
 #  - anchor (optional) = 'left' / 'right'  Preferred anchor position related to the trigger element
 #}

{% set anchor = anchor|default('left') %}

<div
    class="dropdown-trigger"
    data-dropdown--target="{{ id }}"
    data-dropdown--anchor-position="{{ anchor }}"
>
    {{ block('trigger') }}
    <span class="dropdown-trigger__icon"><i class="fas fa-caret-down"></i></span>
</div>

<div class="dropdown" id="{{ id }}" style="display: none">
    {{ block('content') }}
</div>
