{#
 # Embed properties:
 #  - id (optional html id)
 #  - class (optional class or array of classes)
 #  - opened (optional boolean)
 #  - emphase_when_opened (optional boolean)
 #}

{% set inner_id = unique_id('foldable') %}
{% set opened = opened|default(false) %}

<div
    {{ attr('id', id|default(null)) }}
    class="foldable-zone foldable-zone--initial-transition {{ class({}|merge(
        class|default({}),
        {
            'opened': opened,
            'foldable-zone--emphase-when-opened': emphase_when_opened|default(false),
        },
    )) }}"
>
    <input id="{{ inner_id }}" class="foldable-zone__toggle" type="checkbox">
    <label for="{{ inner_id }}" class="foldable-zone__label">
        {% block header %}{% endblock %}
    </label>
    <div class="foldable-zone__main {{ class({ 'no-max-height': opened }) }}">
        {% block main %}{% endblock %}
    </div>
</div>
