{#
 # Embed properties:
 #  - fetch_html_id
 #  - table (TableInfo)
 #  - route_params_merge_before (optional array)
 #  - route_params_merge_after (optional array)
 #  - search_expression (optional string)
 #  - allow_search_key_shortcut (optional, default false)
 #  - allow_refresh_data_key_shortcut (optional, default false)
 #}

{% from 'macros.html.twig' import icon_command, icon_command_with_loading_wheel %}

{% set foldable_zone_id = unique_id('foldable-zone--filter-editor') %}
{% set allow_search_key_shortcut = allow_search_key_shortcut|default(false) %}
{% set allow_refresh_data_key_shortcut = allow_refresh_data_key_shortcut|default(false) %}
{% set search_expression = search_expression|default(null) %}

<div class="flex-col-spaced">
    {# Filter zone: #}
    {% embed 'embed/foldable_zone.html.twig' with {
        id: foldable_zone_id,
        opened: search_expression is not empty,
        emphase_when_opened: true,
    } %}
        {% block header %}
            Search
        {% endblock %}
        {% block main %}
            <div class="flex-col-spaced">
                {% set editor_id = unique_id('filter-editor') %}
                <div
                    class="filter-editor--height-before-js"
                    data-filter-editor="{{ editor_id }}"
                    data-filter-editor--table-name="{{ table.name|e('html_attr') }}"
                    data-filter-editor--outer-foldable-zone="{{ foldable_zone_id }}"
                    data-filter-editor--search-key-shortcut="{{ allow_search_key_shortcut ? 1 : 0 }}"
                    data-filter-editor--initial-content="{{ search_expression|e('html_attr') }}"
                    data-fetch-html--filter-editor="{{ fetch_html_id }}"
                ></div>
                <div class="flex-row-spaced">
                    <button class="command"
                        data-filter-editor--target-id="{{ editor_id }}"
                        data-filter-editor--action="submit"
                    >
                        <i class="fas fa-check color-success"></i>
                        Apply search
                    </button>
                    <button class="command"
                            data-filter-editor--target-id="{{ editor_id }}"
                            data-filter-editor--action="clear"
                    >
                        <i class="fas fa-ban color-error"></i>
                        Clear search
                    </button>
                    <button
                            class="command command--minor"
                            data-modal--open="search-expr-help-modal"
                            title="Get help"
                    >
                        <i class="fas fa-question-circle color-help"></i>
                    </button>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    {# Pagination zone: #}
    <div class="command-list icon--smaller flex-row-spaced">
        <span class="flex-row">
            <button class="wrapper-button" data-fetch-html--page-first="{{ fetch_html_id }}">
                {{ icon_command_with_loading_wheel('fa-solid fa-angle-double-left') }}
            </button>
            <button class="wrapper-button" data-fetch-html--page-previous="{{ fetch_html_id }}">
                {{ icon_command_with_loading_wheel('fa-solid fa-angle-left') }}
            </button>
        </span>

        <span data-fetch-html--pagination-info="{{ fetch_html_id }}"></span>

        <span class="flex-row">
            <button class="wrapper-button" data-fetch-html--page-next="{{ fetch_html_id }}">
                {{ icon_command_with_loading_wheel('fa-solid fa-angle-right') }}
            </button>
            <button class="wrapper-button" data-fetch-html--page-last="{{ fetch_html_id }}">
                {{ icon_command_with_loading_wheel('fa-solid fa-angle-double-right') }}
            </button>
        </span>

        <button class="wrapper-button"
                data-fetch-html--reload="{{ fetch_html_id }}"
                title="Reload data"
                data-filter-editor--refresh-data-key-shortcut="{{ allow_refresh_data_key_shortcut ? 1 : 0 }}"
        >
            {{ icon_command_with_loading_wheel('fa-solid fa-redo') }}
        </button>

        <span data-fetch-html--results-count="{{ fetch_html_id }}"></span>

        {% block command_list_append %}{% endblock %}
    </div>

    <div>
        <label class="data-fetcher__transposed" title="Show each row like a block, with columns displayed vertically">
            <input type="checkbox" data-fetch-html--transposed="{{ fetch_html_id }}" /><span>Transposed</span>
        </label>
    </div>

    {% set route_params = {}|merge(
        route_params_merge_before|default({}),
        {
            project: table.project.name,
            tableAlias: table.name,
            format: 'html-data',
            page: page|default('1'),
        },
        route_params_merge_after|default({}),
    ) %}

    <div class="overlay-container">
        <div class="overlay">
            <div class="loading-wheel"></div>
        </div>
        <div
            data-fetch-html--id="{{ fetch_html_id }}"
            data-fetch-html--url="{{ path( 'list_rows', route_params) }}"
            {% if reflect_in_url|default(false) %}
                data-fetch-html--reflect-in-url
            {% endif %}
        ></div>
    </div>
</div>
