<div
    id="{{ id }}"
    class="modal"
    {% if initial_state|default('hidden') != 'visible' -%}
        style="display: none"
    {%- endif %}
>
    <div class="modal__overlay"></div>
    <div class="modal__window">
        {% if block('title') is defined %}
            <div class="modal__title">{{ block('title') }}</div>
        {% endif %}
        <div class="modal__content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
