.alert {
    --h: 0;
    --s: 100%;
    --l: 100%;

    padding: var(--space-3);
    margin-top: var(--space-6);
    margin-bottom: var(--space-6);

    border: 1px solid hsl(var(--h), var(--s), var(--l));
    border-radius: var(--border-radius-1);

    color: hsl(var(--h), var(--s), calc(var(--l) * 1.1));
    background: hsla(var(--h), var(--s), var(--l), 10%);

    &.alert--error {
        --h: 0;
        --s: 40%;
        --l: 50%;
    }
}
