.modal#error-modal {
    .modal__window {
        width: inherit;
        height: inherit;

        .modal__content {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em;
        }
    }

    .error-modal__header-message {
        color: var(--red);
    }
}
