.field-value {
    &.field-value--null {
        color: var(--field-value-null-color);

        font-style: italic;
    }

    &.field-value--transformed {
        color: var(--field-value-transformed-color);
    }
}
