.rows-list--transposed {
    display: flex;
    gap: var(--space-6);
    flex-wrap: wrap;

    table.table--row {
        thead.sticky {
            background-color: var(--main-bg-color-3);
        }
        tbody .table--row__full-cell {
            padding-left: 0;

            // Take less vertical space for sort buttons (transposed mode only):
            .table--row__sort {
                margin-top: calc(-1 * var(--cell-padding));
                margin-bottom: calc(-1 * var(--cell-padding));
            }
        }
    }
}

.rows-list--transposed__no-sort-button {
    // With transposed rows lists, when a column is not sortable (e.g. custom formatted column), the
    // missing sort button has to be filled with a blank space, in order to align with other column
    // names:
    padding-left: var(--sort-button-size);
}

tr.table__head-sticky-title {
    text-align: left;

    th {
        font-size: larger;
        padding-left: var(--cell-padding);
        padding-right: var(--cell-padding);
        padding-top: var(--cell-padding);
    }
}
