@import '../fonts';

:root {
    --sort-button-size: 2.2rem;
}

table.table--row .table--row__sort {
    --size: var(--sort-button-size);

    width: var(--size);
    height: var(--size);

    color: var(--main-color);
    background-color: transparent;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
        background-color: rgba(255 255 255 / 20%);
    }

    &:before {
        @include font-awesome-font;
    }

    &.table--row__sort--up:before {
        content: "\f0de"; // Fontawesome class: .fr-sort-up
    }
    &.table--row__sort--down:before {
        content: "\f0dd"; // Fontawesome class: .fr-sort-down
    }
    &.table--row__sort--none:before {
        content: "\f0dc"; // Fontawesome class: .fr-sort
        opacity: 0.3;
    }
}
