.table-icon {
    width: 0.8em;
    color: var(--main-color-dim-2);
}

nav.nav--table-structure {
    display: flex;
    flex-direction: row;
    gap: 1.5em;

    height: var(--table-structure--navbar-height);

    padding-top: 1em;
    padding-bottom: 1em;

    background: var(--main-bg-color);

    &.sticky {
        z-index: 10;

        &.is-sticky {
            box-shadow: 0 21px 16px -9px rgb(0 0 0 / 0.75);
        }
    }
}

.table-structure__anchor {
    position: relative;
    top: calc(-1 * var(--table-structure--navbar-height))
}

.table-structure--sticky-header {
    position: sticky;
    top: calc(var(--table-structure--navbar-height) + 2rem) !important;
    z-index: 10;
}
