@import '../_variables';
@import 'sort-buttons';

table.table--row {
    --large-border-width: 2px;
    --small-border-width: 1px;
    --link-border-width: 1px;

    border: var(--large-border-width) solid var(--border-color);
    border-collapse: separate;
    border-spacing: 0;

    height: fit-content;

    th {
        border-bottom: var(--large-border-width) solid var(--border-color);
    }

    thead {
        font-weight: bold;

        &.sticky {
            background-color: var(--main-bg-color);

            z-index: 20;

            &.is-sticky {
                box-shadow: 0 21px 16px -9px rgb(0 0 0 / 0.75);
            }
        }
    }

    tr {
        height: 100%;

        &:not(:first-child) {
            border-top: 1px solid var(--border-color);
        }
        &.table--row__tr--hidden {
            display: none;
        }
    }

    td {
        padding: var(--link-border-width);

        border-bottom: var(--small-border-width) solid var(--border-color);
        vertical-align: middle;

        & > * {
            height: 100%;
        }

        &.action--copy-value--effect {
            .table--row__joined-value-summary {
                transition: opacity calc(var(--transition-time) * 1.5) cubic-bezier(0.6, 0, 0.6, 0);
            }
            &.action-done {
                .table--row__joined-value-summary {
                    opacity: 0;
                }
            }
        }
    }

    td.cell-link {
        padding: calc(-1 * var(--link-border-width));

        a {
            display: flex;
            flex-grow: 1;

            text-decoration: none;
            border: var(--link-border-width) solid transparent;
            border-radius: 5px;

            &:hover {
                border: var(--link-border-width) solid var(--link-color);
                background-color: rgba($link-color, 5%);
            }

            .table--row__joined-value-summary {
                color: var(--table-row-summary-color);
            }
        }
    }

    td.table--row__td--key {
        vertical-align: middle;
    }

    td.table--row__td--commands {
        vertical-align: middle;
    }

    // noinspection CssReplaceWithShorthandSafely
    .table--row__full-cell {
        --horizontal-padding: var(--cell-padding);
        --vertical-padding: var(--cell-padding);

        display: flex;
        align-items: center;

        height: calc(100% - 2 * var(--vertical-padding));

        padding-right: var(--horizontal-padding);
        padding-left: var(--horizontal-padding);
        padding-top: var(--vertical-padding);
        padding-bottom: var(--vertical-padding);
    }
}

table.table--row-list {
    .table--row__full-cell {
        --horizontal-padding: 1em;
    }
}

.related-table {
    & > .related-table__inner {
        margin-bottom: 1em;

        transition: margin-bottom 0.2s;

        &.opened {
            margin-bottom: 2em;
        }
    }
}
