@mixin main-font-family() {
    font-family: monospace;
}

@mixin markdown-main-font-family() {
    font-family: sans-serif;
}

@mixin markdown-code-font-family() {
    font-family: monospace;
}

@mixin font-awesome-font() {
    font: normal 900 normal 14px/1 "Font Awesome 6 Free";
}
