@import 'fonts';

@for $i from 1 through 6 {
    h#{7 - $i} {
        font-size: 0.5em + $i * 0.3em;
        margin-top: 1.2em;
        margin-bottom: 0.5em;
    }
}

strong {
    font-weight: bold;
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

input[type=text] {
    --border-color-current: var(--border-color);

    font-size: 1em;
    padding: 0.4em 0.6em;

    @include main-font-family;

    color: var(--main-color);
    background-color: var(--main-bg-color);

    border: 1px solid var(--border-color-current);
    border-radius: 3px;

    transition: border-color 0.2s;

    &:focus, &:hover {
        outline: none;
        --border-color-current: var(--border-color-focus-2);
    }

    &::placeholder {
        font-size: 0.8em;
    }
}
