nav.nav--main {
    --nav--main--height: 60px;

    align-items: center;

    height: var(--nav--main--height);

    padding-right: var(--space-2);

    background-color: black;

    border-bottom: 1px solid var(--border-color);

    .command--icon {
        --size: var(--nav--main--height);
        font-size: calc(var(--nav--main--height) * 0.5);
    }

    .nav--main__project-chooser {
        .dropdown-trigger {
            padding: var(--space-3);
        }
    }
}
