$main-color: ivory;
$main-color-dim-1: adjust-color($main-color, $alpha: -0.15);
$main-color-dim-2: adjust-color($main-color, $alpha: -0.3);
$main-color-dim-4: adjust-color($main-color, $alpha: -0.7);
$main-bg-color: #111;
$main-bg-color-1: #222;
$main-bg-color-2: #333;
$main-bg-color-3: #444;
$link-color: #ff8658;
$border-color: #444;
$orange: #ed8343;
$light-orange: #b79987;
$red: #dd3a3a;
$green: #38ad0b;
$light-blue: #68a0cd;

$table-row-summary-color: #e8b188;
$field-value-transformed-color: #bdb6e6;
$field-value-null-color: $main-color-dim-4;
