@import 'reset';
@import 'variables';
@import 'fonts';
@import 'native';
@import 'general/buttons-commands';
@import 'general/misc';
@import 'general/loading-wheel';
@import 'general/nav';
@import 'general/overlay';
@import 'general/zone';
@import 'layout';
@import 'nav-main';
@import 'components/alert';
@import 'specific/error-modal';
@import 'specific/field-value';
@import 'specific/rows-list';
@import 'specific/table-row';
@import 'specific/table-structure';
@import 'js-specific/actions/action-copy-value';
@import 'js-specific/behaviours/is-sticky-class';
@import 'js-specific/behaviours/highlight-table-rows';
@import 'js-specific/components/data-fetcher';
@import 'js-specific/components/dropdown';
@import 'js-specific/components/filter-editor';
@import 'js-specific/components/foldable-zone';
@import 'js-specific/components/modal';
@import 'js-specific/components/live-filters/list-filter';
@import 'js-specific/components/live-filters/table-filter';
@import 'js-specific/components/quick-find-zone';

// Vendor:
@import './vendor/scrivo/highlight.php/index';

:root {
    --main-color: #{$main-color};
    --main-color-dim-1: #{$main-color-dim-1};
    --main-color-dim-2: #{$main-color-dim-2};
    --main-bg-color: #{$main-bg-color};
    --main-bg-color-1: #{$main-bg-color-1};
    --main-bg-color-2: #{$main-bg-color-2};
    --main-bg-color-3: #{$main-bg-color-3};
    --link-color: #{$link-color};
    --border-color: #{$border-color};
    --border-color-focus-1: color-mix(in srgb, var(--border-color), #fff 10%);
    --border-color-focus-2: color-mix(in srgb, var(--border-color), #fff 20%);
    --orange: #{$orange};
    --light-orange: #{$light-orange};
    --red: #{$red};
    --green: #{$green};
    --light-blue: #{$light-blue};

    --table-row-summary-color: #{$table-row-summary-color};
    --field-value-transformed-color: #{$field-value-transformed-color};
    --field-value-null-color: #{$field-value-null-color};

    --space-1: 0.2rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-6: 2rem;

    --cell-padding: 0.4em;

    --border-radius-1: 0.2rem;
    --border-radius-2: 0.4rem;

    --transition-speed: 200ms;

    --table-structure--navbar-height: 2rem;
}

body {
    color: var(--main-color);
    background-color: var(--main-bg-color);

    @include main-font-family;
    font-size: 18px;
}
