{% if completion.infoColumnName %}
    [<i class="fa-solid fa-share"></i>{{ completion.infoColumnName }}]
{% endif %}

{% if completion.infoTableName %}
    <span class="no-wrap">
        <i class="fa-solid fa-arrow-right"></i>
        <i class="fa-solid fa-table-list"></i>
        <strong>{{ completion.infoTableName }}</strong>
    </span>
{% endif %}
