@import '../../../styles/fonts';

.markdown-content {
    @include markdown-main-font-family;

    line-height: 1.6em;

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.1em;
    }

    p {
        margin-top: var(--space-4);
    }

    ul {
        li {
            list-style: disc;
            margin-left: 1em;
            line-height: 2em;
        }
    }

    code, pre {
        border-radius: var(--border-radius-1);
    }

    code {
        padding: 0 var(--space-2);

        background-color: var(--main-bg-color);

        @include markdown-code-font-family;
    }

    pre {
        padding: var(--space-2);
        margin-top: var(--space-4);
        margin-bottom: var(--space-4);
        background-color: var(--main-bg-color);

        code {
            padding: 0;
        }
    }
}
