[data-fetch-html--id] {
    width: fit-content;
}

[data-fetch-html--show-if-some-data] {
    display: none;
}

[data-fetch-html--show-if-some-data].fetch-html--shown {
    display: block;
}

[data-fetch-html--results-count] {
    font-size: 0.8em;
    opacity: 0.8;
}

.data-fetcher__transposed {
    input[type=checkbox] {
        font-size: 1.2em;
    }
    span {
        font-size: 0.8em;
    }
}
