:root {
    --dropdown--background-color: var(--main-bg-color-2);
    --dropdown--background-color--hover: var(--main-bg-color-3);
    --dropdown--border-color: var(--border-color-focus-1);
}

.dropdown-trigger {
    cursor: default;

    border: 1px solid transparent;
    border-radius: var(--border-radius-1);

    transition: background-color var(--transition-speed);

    &:hover,
    &.dropdown--target-is-open {
        background-color: var(--dropdown--background-color);

        & > .dropdown-trigger__icon {
            opacity: 1;
        }
    }

    &.dropdown--target-is-open {
        border-color: var(--dropdown--border-color);
    }

    & > .dropdown-trigger__icon {
        opacity: 0.7;
        transition: opacity var(--transition-speed);
    }
}

.dropdown {
    position: absolute;

    z-index: 100;

    background-color: var(--dropdown--background-color);

    border: 1px solid var(--dropdown--border-color);
    border-radius: var(--border-radius-1);

    box-shadow: 5px 5px 25px 5px rgb(0 0 0);

    * {
        white-space: nowrap;
    }

    & > ul {
        display: flex;
        flex-direction: column;

        & > li {
            display: flex;
            flex-direction: column;

            &:hover {
                background-color: var(--dropdown--background-color--hover);
            }

            & > * {
                padding: var(--space-2);
            }

            & > a {
                text-decoration: none;
            }
        }
    }
}
