@import '../../fonts';

// This is the approximate height of the filter editor text input; this class is used to fill the
// height of the input before CodeMirror displays it, when the filter editor is already opened on
// page load (the class is then removed by js).
// It is assumed that the content is only 1 line, so it will not work well if the real content has
// more lines (TODO: could be improved by calculating the real number of lines in the twig template).
.filter-editor--height-before-js {
    height: 2.1em;
}

.cm-editor {
    border: 2px solid var(--border-color);
    transition: border-color 0.2s;

    &:hover, &.cm-focused {
        border-color: var(--border-color-focus-2);
    }
}

.cm-completionIcon-column,
.cm-completionIcon-columnAlias,
.cm-completionIcon-joinColumn,
.cm-completionIcon-joinColumnAlias,
{
    &:before, &:after {
        @include font-awesome-font;
    }
}

.cm-completionIcon-column,
.cm-completionIcon-columnAlias {
    &:before {
        content: "\f064"; // Fontawesome class: .fa-share
    }
    &:after {
        content: "\00a0\f22d"; // Fontawesome class: .fa-genderless
        font-size: 0.8em;
    }
}

.cm-completionIcon-column {
    &:before {
        visibility: hidden;
    }
}

.cm-completionIcon-joinColumn,
.cm-completionIcon-joinColumnAlias {
    &:before {
        content: "\f064"; // Fontawesome class: .fa-share
    }
    &:after {
        content: "\00a0\f0ce"; // Fontawesome class: .fa-table
    }
}

.cm-completionIcon-joinColumn {
    &:before {
        visibility: hidden;
    }
}
