@import '../../fonts';

.foldable-zone {
    --height: 100vh;
    --transition-time-ms: 200; // Used by javascript
    --transition-time: calc(var(--transition-time-ms) * 1ms);

    transition-property: padding, background-color;
    transition-duration: var(--transition-time);
    transition-timing-function: ease-in-out;

    &.foldable-zone--initial-transition {
        transition-duration: 0ms;
        & > .foldable-zone__main {
            transition-duration: 0ms;
        }
    }

    & > .foldable-zone__toggle {
        display: none;
    }

    & > .foldable-zone__label {
        display: block;

        cursor: pointer;
        color: #aaa;
        transition: color 0.2s;

        &:hover {
            color: var(--main-color);
        }

        &:after {
            @include font-awesome-font;

            content: "\f0da";
            display: inline-block;
            font-size: 1.1em;
            transition: var(--transition-time) transform;
        }

        & > * {
            display: inline; // Ensure that "fold/unfold" icon will be displayed on the same line
        }
    }

    & > .foldable-zone__main {
        max-height: 0;
        margin-top: 0;
        overflow-y: hidden;

        transition-property: max-height, margin-top;
        transition-duration: var(--transition-time);
        transition-timing-function: ease-in-out;

        &.no-max-height {
            max-height: inherit !important;
            overflow-y: inherit;
        }
    }

    &.opened {
        & > .foldable-zone__main {
            max-height: var(--height);
            margin-top: 0.5em;
        }

        & > .foldable-zone__label {
            color: var(--main-color);

            &:after {
                transform: rotate(90deg);
            }
        }
    }

    &.foldable-zone--emphase-when-opened {
        border-radius: 5px;

        &.opened {
            padding: 0.5em;
            background-color: #222;
        }
    }
}
