
.modal {
    .modal__overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 1000;

        background-color: rgb(0 0 0 / 50%);
    }

    .modal__window {
        --margin: 40px;
        --border-radius: var(--border-radius-2);

        display: flex;
        flex-direction: column;

        position: fixed;
        top: 50%;
        left: 50%;

        width: 80vw;
        height: 80vh;

        transform: translate(-50%, -50%);

        background-color: var(--main-bg-color-1);

        border-radius: var(--border-radius);
        z-index: 1001;

        box-shadow: 5px 5px 25px 5px rgb(0 0 0);

        .modal__title {
            padding: var(--space-2);

            background-color: var(--main-bg-color-2);

            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }

        .modal__content {
            padding: var(--space-2);
            overflow: auto;
            overscroll-behavior: none;
        }
    }
}
