@import '../../fonts';

.quick-find-zone {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    .quick-find-zone__label {
        display: flex;
        align-items: center;
        gap: var(--space-2);

        color: var(--main-color-dim-1);

        .quick-find-zone__label__text {
            font-size: 0.7em;
        }
    }

    .cm-editor,
    input {
        width: 8em;
        box-sizing: border-box;
    }

    .cm-editor {
        // TODO: actually coupled with text input style; use variables
        padding: 0.2em 0.3em;
        border-radius: 3px;
        border-width: 1px;
    }
}

.cm-completionIcon-tableName,
.cm-completionIcon-tableAlias,
{
    &:before, &:after {
        @include font-awesome-font;
    }
    &:before {
        content: "\f064"; // Fontawesome class: .fa-share
    }
    &:after {
        content: "\00a0\f0ce"; // Fontawesome class: .fa-table
    }
}

.cm-completionIcon-tableName {
    &:before {
        visibility: hidden;
    }
}
