<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Db info{% endblock %}</title>
        <link rel="icon" href="{{ asset('best-favicon-ever.svg') }}" type="image/svg+xml">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'layout/navbar.html.twig' %}

        <main>{% block main %}{% endblock %}</main>

        {% include 'include/modal/error_modal.html.twig' %}

        {% if include_search_expr_help_modal is defined %}
            {% include 'include/modal/search_expr_help_modal.html.twig' %}
        {% endif %}

        <script>
            window.app_data = {{ js_app_data|default({})|json_encode|raw }};
        </script>
    </body>
</html>
