{% macro icon_command(fa_class) %}
    <div class="command command--icon">
        <i class="{{ fa_class }}"></i>
    </div>
{% endmacro %}

{% macro icon_command_with_loading_wheel(fa_class) %}
    <div class="command command--icon">
        <i class="{{ fa_class }}"></i>
        <div class="loading-wheel"></div>
    </div>
{% endmacro %}

{% macro icon_link_command(fa_class, url) %}
    <a class="command command--icon" href="{{ url }}">
        <i class="{{ fa_class }}"></i>
    </a>
{% endmacro %}

{% macro icon_link(fa_class, url, title = null) %}
    <a href="{{ url }}" class="link--icon" {{ attr('title', title) }}>
        <i class="{{ fa_class }}"></i>
    </a>
{% endmacro %}

{% macro table_name_with_link(project, table_name, alias = null, extra_html = null) %}
    <span class="flex-row-spaced">
        <strong>{{ alias|default(table_name) }}</strong>
        {{ _self.table_list_icon_link(project, table_name) }}
        {{ _self.table_structure_icon_link(project, table_name) }}
        {{ extra_html|raw }}
    </span>
{% endmacro %}

{% macro table_list_icon_link(project, table_name) %}
    {{ _self.icon_link(
        'fa-solid fa-table-list',
        table_path(project, table_name),
        'List rows'
    ) }}
{% endmacro %}

{% macro table_structure_icon_link(project, table_name) %}
    {{ _self.icon_link(
        'fa-solid fa-project-diagram',
        table_structure_path(project, table_name),
        'View table structure'
    ) }}
{% endmacro %}
