{% if table is not null %}
Clear the cache for table "{{ table.name }}", then reload the page.
{% elseif project is not null %}
Clear the cache for project "{{ project.name }}", then reload the page.
{% else %}
Clear the cache for the whole application, then reload the page.
{% endif %}

This command will act differently depending on the page currently visited:
- If on the main home page, it will clear cache for the whole application;
- If on a project page, it will clear cache for the given project;
- If on a table page, it will clear cache for the given table.
