{% from 'macros.html.twig' import icon_link_command %}

{% set has_project = project is not null %}
{% set has_table = table is not null %}

{% set project_chooser %}
    {% set dropdown_id = unique_id('dropdown') %}

    <div class="nav--main__project-chooser">
        {% embed 'embed/dropdown.html.twig' with {
            id: dropdown_id,
            anchor: 'left',
        } %}
            {% block trigger %}
                {% if has_project %}
                    <strong>{{ project.name }}</strong>
                {% else %}
                    Choose a project
                {% endif %}
            {% endblock %}

            {% block content %}
                <ul>
                {% for project_name in project_names() %}
                    <li>
                        <a href="{{ path('project_home', {project: project_name}) }}">
                            {{ project_name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endblock %}
        {% endembed %}
    </div>
{% endset %} {# project_chooser #}

{% set cache_invalidate_button %}
    {% set cache_invalidate_title = include('layout/cache_invalidate_command_title.html.twig') %}
    <div
        class="command command--icon command--scale"
        data-cache-invalidate--url="{{ cache_invalidation_path() }}"
        title="{{ cache_invalidate_title }}"
    >
        <i class="fas fa-exclamation-circle"></i>
    </div>
{% endset %}

<nav class="nav--main">
    <div class="nav-left">
        {{ icon_link_command('fas fa-home', path('home')) }}
        {{ project_chooser }}
        {% if has_project %}
            {{ icon_link_command('fas fa-database', path('project_home', { project: project.name })) }}
        {% endif %}
    </div>

    <div class="nav-center"></div>

    <div class="nav-right">
        {{ cache_invalidate_button }}
        {% include 'include/js/components/quick_find_zone.html.twig' %}
    </div>
</nav>
