[data-action--copy-value], [data-action--copy-column] {
    i {
        opacity: 0.3;
        transition-property: transform, opacity;
        transition-duration: 0.2s;
        transform: scale(80%);
    }

    &:hover {
        i {
            transform: scale(100%);
            opacity: 1;
        }
    }
}

[data-action--copy-column]:not(.copy-column--skip-align) {
    // Align the icon with the cells contents:
    margin-left: -0.5em;
}

.action--copy-value--effect {
    --transition-time-config: 1s; // Used by javascript

    transition: background-color var(--transition-time);

    &.action-done {
        background-color: green;
    }
}
